body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(https://i.ibb.co/7Smjmpk/Colorido-Ilustraci-n-Proyecto-de-Grupo-En-Blanco-Presentaci-n-de-Educaci-n-2.jpg);
    background-size: cover;
    background-attachment: fixed;
}

* {
    box-sizing: border-box;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333; /* Color del icono */
}


.contenedor {
    width: 100%;
    padding: 15px;
}

.formulario {
    background: #fff;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #1a2537;
    font-size: 40px;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"],
input[type="radio"] {
    font-size: 20px;
    padding: 10px;
    border: none;
}

input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.input-contenedor {
    margin-bottom: 15px;
    border: 1px solid #aaa;
    display: flex;
    align-items: center;
    padding: 5px;
}

.icon {
    min-width: 50px;
    text-align: center;
    color: #999;
}

.button {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.button:hover {
    background: cadetblue;
}

a {
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #1a2537;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.a:hover {
    background: cadetblue;
}


p {
    text-align: center;
}

.link {
    text-decoration: none;
    color: #1a2537;
    font-weight: 600;
}

.link:hover {
    color: cadetblue;
}

@media (min-width: 768px) {
    .formulario {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }
}
